* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: white;
    flex-wrap: wrap;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

}

.conpany-logo h1 {
    margin-left: 50px;
}

.menu-items li {
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;

}

.menu-items li:hover {
    color: blue;
    cursor: pointer;
}

.baner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    min-height: 100vh;
}

.baner-left {
    margin-left: 50px;
}

.baner-text {
    color: red;
    font-size: 24px;
    margin: 10px;
}

.baner-title {
    font-size: 60px;
    margin: 10px;
}

.text {
    font-size: 22px;
    margin-bottom: 10px;
}

.baner-btn {
    background-color: brown;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.baner-btn:hover {
    background-color: rgb(245, 2, 2);
}

/* section two card */
.section-two {
    margin-top: 70px;
    margin-bottom: 70px;

}

.section-two a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.section-two a:hover {
    cursor: pointer;
}

.card1 {
    width: 400px;
    height: 250px;
    text-align: center;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 5px 1px 19px gray;
    margin: 30px 10px;
}

.card1:hover {
    margin-top: -25px;
    transition: .8s;
    background-color: bisque;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
}

.card-img {
    width: 50px;
    margin-bottom: 20px;
}

.card-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* =============about us============ */
.about-section {
    background-color: black;
    color: white;
    padding-top: 30px;
    margin-top: 100px;
}

.title-abot {
    text-align: center;
    font-size: 70px;
    margin: 30px;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.workout-img {
    display: flex;
    /* padding: 30px; */
    width: 100%;
}

.workout-img img {
    transform: skew(-13deg);
    height: 550px;
    padding: 20px;
}

.about-left {
    width: 40%;
    margin-right: 50px;
    padding: 2%;
    border-top: 1px solid rgb(232, 25, 25);
}

.about-right {
    width: 40%;
    margin-right: 20px;
    padding: 2%;
    border-top: 1px solid grey;
}

.about-title {
    font-size: 50px;
    font-weight: bold;
}

.about-right p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}

.workout-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    height: 250px;
    background-image: url("./images/shape/Group_33094_1.png");
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 80px;
    border-radius: 5px;
    color: white;
    margin-bottom: 70px;
}

.workout-btn button {
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
}

.workout-btn button:hover {
    background-color: rgb(172, 106, 106);
    cursor: pointer;
}

/* ==========service section========= */
.service-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-card {
    height: 480px;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-right: 15px;
    margin-top: 50px;
    box-shadow: 5px 1px 19px gray;
    position: relative;
}

.service-card:hover {
    margin-top: -10px;
    transition: .5s;
    background-color: bisque;
}

.service-card img {
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

.service-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-text1 {
    color: red;
    font-size: 1.1rem;
    margin: 10px 0;
}

.service-card p {
    font-weight: bold;
    margin: 10px 0 30px;
}

.icon-img img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    right: -10px;
}

.service-text2 {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 7px;
    color: red;
    font-size: 1.1rem;
    margin: 10px 0;
    padding-right: 20px;
}

.service-text2:hover {
    cursor: pointer;
}